doctype
html
  head
    title= title
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
    script(src='https://kit.fontawesome.com/0abec2fadd.js' crossorigin='anonymous')

  body
    div.hero.is-success
      div.hero-body.container
        h1.title= title

    section.section
      div.container

        block content

    footer.footer
      div.container.has-text-centered.is-size-7
        p
          em Copyright &copy; Chris Carleton, #{now.getFullYear()}
        p #[a(href=baseUrl) Home Page] | #[a(href=`mailto:${adminEmail}`)= adminEmail]
